@model List<InventoryManager.Models.GarmentsFullModel>

@{
    ViewBag.Title = "Sizes View";
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <h2>@ViewBag.Title</h2>
    </head>
    <body>
        <div class="sizesimage" >
             1
        </div>
    </body>
</html>
 