@using InventoryManager.DataAccess
@using InventoryManager.Models
@model InventoryManager.Models.NewFabricModel

@{
    ViewBag.Title = "Fabric Edit";
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <link href=@Url.Content("~/Content/GarmentsEdit.css") rel="stylesheet" type="text/css" />
        <link href=@Url.Content("~/Content/SharedDescriptorEdit.css") rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="Content" class="GarmentsForm">
            @using (Html.BeginForm("Fabric", "update"))
            {
                <h1 class="Section">Edit Fabric</h1>
                
              <div class="SolidLine">
                @Html.Partial("ColorsEdit", Model.FabricInfo.ColorModels)
            </div>
                
                <input id="ButtonSave" type="submit" value="Save" />
            }
        </div >
    </body>
</html>