@using InventoryManager.DataAccess
@using InventoryManager.Models
@model InventoryManager.Models.NewGarmentModel

@{
    ViewBag.Title = "Gaments Edit";
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>

    </head>
    <body>
        <div id="Content" class="GarmentsForm">
        <h1 class="Section">Edit Garments Partial Again</h1>
           @Html.Partial("SharedDescriptorEdit", Model)
        </div>
    </body>
</html>