@model TModel

@{
    ViewBag.Title = "Sizes Edit";
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <h2>@ViewBag.Title</h2>
    </head>
    <body>
        <div>
              
        </div>
    </body>
</html>