@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <link href="@Url.Content("~/Content/ColorCodeView.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

        <title>title</title>
        
    </head>
    <body>
        <div id="Content" class="ContactsForm">
            <h1>Color Code Guide</h1> 
            <div class="ColorSection" id="DarkOrange">
                <div class="Color">DK Orange</div>
                <div class="Number">1</div>
                <div class="Gender">Female</div>
                <div class="Location">Inner</div>
                <div class="Layer">Block</div>
            </div>
            
            <div class="ColorSection" id="DarkGreen">
                <div class="Color">Dk Green</div>
                <div class="Number">2</div>
                <div class="Gender">child</div>
                <div class="Location">outer</div>
                <div class="Layer">foundation</div>
            </div>
            
            <div class="ColorSection" id="Red">
                <div class="Color">Red</div>
                <div class="Number">3</div>
                <div class="Gender">male</div>
                <div class="Location">exterior</div>
                <div class="Layer">top</div>
            </div>
                        
            <div class="ColorSection" id="Blue">
                <div class="Color">blue</div>
                <div class="Number">4</div>
                <div class="Gender"></div>
                <div class="Location"></div>
                <div class="Layer">bottom</div>
            </div>
                        
            <div class="ColorSection" id="Pink">
                <div class="Color">Pink</div>
                <div class="Number">5</div>
                <div class="Gender"></div>
                <div class="Location"></div>
                <div class="Layer">gown</div>
            </div>
                        
            <div class="ColorSection" id="LightGreen">
                <div class="Color">Light Green</div>
                <div class="Number">6</div>
                <div class="Gender"></div>
                <div class="Location"></div>
                <div class="Layer">acessory</div>
            </div>  
                                  
            <div class="ColorSection" id="LightOrange">
                <div class="Color">Light Orange</div>
                <div class="Number">7</div>
                <div class="Gender"></div>
                <div class="Location"></div>
                <div class="Layer"></div>
            </div>  
                                            
            <div class="ColorSection" id="Violet">
                <div class="Color">Violet</div>
                <div class="Number">8</div>
                <div class="Gender"></div>
                <div class="Location"></div>
                <div class="Layer"></div>
            </div>   
                                           
            <div class="ColorSection" id="Lavender">
                <div class="Color">Lavender</div>
                <div class="Number">9</div>
                <div class="Gender"></div>
                <div class="Location"></div>
                <div class="Layer"></div>
            </div>
            
@*            
            block
foundation
top
bottom
gown
acessory

foundation
top
bottom
gown
acessory

foundation
top
bottom
gown
acessory*@


        </div>
    </body>
</html>


