
    <h6 class="important">TestSide</h6>
    <ul>
        <li class="item">
            <a href="@Href("~/view/contacts")">All contacts</a>
        </li>
        <li class="Item">
            <a href="@Href("~/edit/contact")">Enter New Contact</a>
        </li>
          <li class="last_Item">
        <a href="@Href("~/view/Colors")">Color Codes</a>
        </li>
    </ul>
