@using InventoryManager.DataAccess
@using InventoryManager.Models
@model List<InventoryManager.Models.ColorModel>

<div class="SharedAttribute">
    <div class="label">Color: </div>  
    <span class="NewItems">
        <label for="NewColor" class="input-label">New Color: </label>
        <input id="AddNewColor" class="InputText" maxlength="100" name="NewColor" type="text" value=""/>
        @Html.DropDownList("ColorModel",
                            new SelectList(Model.OrderBy(x => x.Color),
                                           new DataHelpers().GetNamesFromModel(new ColorModel()).FirstOrDefault(),
                                           new DataHelpers().GetNamesFromModel(new ColorModel()).Last()))
    </span>
    <span class="SharedAttributeButtons">
        <input class="ButtonChoice" id="ColorNew" type="button" value="Add New >" />
        <input class="ButtonChoice" id="ColorAdd" type="button" value="Add >" />
        <input class="ButtonChoice" id="ColorRemove" type="button" value="< Remove" />
    </span> 
    @Html.ListBox("Color", new SelectList(new[] { "" }), new { @class = "ModelInput" })   
</div>
