
ul 
{
    list-style-type: none;
    padding:0; 
    margin:0;
}

.ContactsForm
{
    float: left;
    padding: 0 0 16px 16px; 
    width: 630px;
    margin-top: 8px;
}

.ContactsForm input
{
    width: 190px;
    padding: 3px 2px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 3px;
}
label.input-label
{
    width: 90px;
    font-weight: bold;
    display: inline-block;
}

.ID {
    visibility: hidden;
}

.firstname, .lastname
{
    font-size: 1.5em;
    font-weight: bold
}