.GarmentsForm
{
    float: left;
    padding: 0 0 16px 16px; 
    margin-top: 8px;
}

.GarmentsForm .Section 
{
   width: 460px;
   
}

#GarmentNameLabelLabel
{
    font-weight: bold;
    display: inline-block;
}

.Subsection {
    display: block;
    padding: 4px;
    padding-left:20px;
}

.Subsection .DropdownLabel {
    display:inline-block;
}

.Subsection select {
   display:inline-block; 
   width: 150px;
   margin-right: 10px;
   height: 24px;
}

.DropdownLabel {
    width: 50px;  
    font-size: 12px;
    font-weight: bold; 
}

.Atributes {
    border-bottom:black 1px solid;
    display: block;
    padding: 4px;
    padding-left: 20px;
}

.Atributes .input-label {
    width: 150px;
    display: block;
}

.Atributes select {
    width: 150px;
    margin-right: 10px;
    height: 24px;
    display: block;
}

.Atributes .InputText {
    width: 146px;
    margin-bottom:14px;
}

span {
    display: inline-block;
}

.Atributes .ModelInput {
    height: 78px;
    display: inline-block;

}

.label {
     margin-top: 8px;
     display: block;      
     font-size: 12px;
     font-weight: bold;
     margin-bottom:10px;
}

.AtributeButtons {
    margin-top: 14px;
}

.ButtonChoice {
    width: 78px;   
    margin-right: 10px;
    display: block;
    margin-top:4px;
}

.NewItems {
    float: left;
}
