body
{
    font-size: 11px;
    line-height: 1.5em;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
   /* display: block;*/
}

/* Styles for basic forms
-----------------------------------------------------------*/

.Section 
{
   border-bottom: black thick solid;
   margin-top: 8px;
   padding-bottom: 15px;
   width: 630px;
}

.hidden 
{
    display: none;
}

.sizesimage 
{
    background-image: url("/Content/Images/Measurements/MeasureMents.png"); 
   
    background-repeat:no-repeat;
    width:1500px;
    height:1150px;
    position:absolute;
    border: black solid 1px; 
}

.clearfix::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#Content 
{
    min-height: 405px;
    float: left;
    background-color: #fff;
    margin-bottom: 40px;
    width: 100%;
}

#fixedWidthContainer 
{
    margin: 0 auto;
    padding: 0 20px;
    width: 950px;
}

#LeftMenuContainer 
{
    background-color: #FFFFFF;
    float: left;
    margin: 0 10px 0 0;
    padding: 10px;
    width: 162px;
}

#TwoColumnContent #LeftColumn 
{
    clear: both;
    float: left;
    width: 192px;
}

#fixedWidthContainer #TwoColumnContent #RightColumn 
{
    float: left;
    width: 758px;
}

#Header
{
    background-color: #fff;
    padding: 14px 16px 17px;
    float: left;
    width: 726px;
    margin-bottom: 16px;
}

#Header p
{
    margin: 10px 0 0;
}

 
fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
